.editor-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 8px;
    max-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
    scrollbar-width: thin;
}
.connection-details {
    display: flex;
    border: 1px solid black;
    gap: 10px;
    padding: 4px;
}
.editor {
    border: 1px solid black;
    height: 50vh;
}
.editor .monaco-scrollable-element {
  overflow-y: auto !important; /* Ensure vertical scroll is enabled */
  scrollbar-width: thin; /* Adjust scrollbar width */
}
.colName {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Ensure table headers and cells handle overflow properly */
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Optional: Style table cells to be more responsive */
.ant-table-cell {
  max-width: 300px; 
}